@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.max-width{
    max-width: 1900px;
    padding: 0 80px;
    margin: 10px;
}
.navbar{
    position: absolute;
    width: 100%;
    font-family: 'Ubuntu';
    padding: 15px 0;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: white;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: cyan;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color: white;
    font-size: 18px;
    font-weight: 500px;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: cyan;
}
.home{
    background: url(../images/pizzabg.jpg) no-repeat;
    display: flex;
    background-size: 100%;
    color: white;
    background-color: black;
    height: 6000px;
}
.content h1{
    margin-top: 350px;
    text-align: left;
    margin-left: 100px;
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 150px;
}
.content .foodmenu{
    font-size: 70px;
    text-align: center;
    margin-top: 520px;
}
.content .pizza{
    font-size: 60px;
    text-align: left;
    margin-top: 100px;
    margin-left: 250px;
}
.container{
    margin-top: 0;
    width: 1900px;
    height: 1300px;
}
.col{
    color: white;
    font-family: 'Lobster';
    margin-left: 250px;
    margin-top: 100px;
    float: left;
}
.content1 .pasta{
    font-family: 'Lobster';
    color: white;
    font-size: 60px;
    text-align: left;
    margin-top: 150px;
    margin-left: 250px;
}
.container2{
    margin-top: 0;
    width: 1900px;
    height: 500px;
}
.content2 .bread{
    font-family: 'Lobster';
    color: white;
    font-size: 60px;
    text-align: left;
    margin-top: 150px;
    margin-left: 250px;
}
.container3{
    margin-top: 0;
    width: 1900px;
    height: 900px;
}
.content3 .dessert{
    font-family: 'Lobster';
    color: white;
    font-size: 60px;
    text-align: left;
    margin-top: 150px;
    margin-left: 250px;
}
.container4{
    margin-top: 0;
    width: 1900px;
    height: 900px;
}